@font-face {
  font-family: fuenteFormulario;
  src: url(../FONTS/Montserrat-Regular.ttf);
}
*{
  font-family: fuenteFormulario;
  font-weight: lighter;
}
header{
  box-sizing: border-box;
  padding: 0px 5%;
  background-color: #515A5A;
  color: white;
  display: flex;
  align-items: center;
}

.logo{
  cursor: pointer;
  flex:1;
}
header p{
  flex:2;
  text-align: center;
}
nav{
  flex: 1;

}
ul{
  padding: 0;
}
.redes{

  flex:1;
  list-style: none;
}
.redes li{

  /*padding: 0px 5px;*/
  display: inline-block;
}

button{
  background-color: #515A5A;
  color: white;
  border: none;
  padding: 5px 5px;
  border-radius: 10px;
  cursor: pointer;
}
button:hover{
  list-style: none;
  background-color: #444C4C;
}
