/*@font-face {
  font-family: fuenteFormulario;
  src: url(../FONTS/Montserrat-Regular.ttf);
}
*{
  font-family: fuenteFormulario;
  font-weight: lighter;
}
header{
  box-sizing: border-box;
  padding: 0px 5%;
  background-color: #515A5A;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  cursor: pointer;
}
ul{
  padding: 0;
}
.redes{
  list-style: none;
}
.redes li{
  padding: 0px 5px;
  display: inline-block;
}
button{
  background-color: #515A5A;
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
button:hover{
  list-style: none;
  background-color: #444C4C;
}


/*
header{
  position: fixed;
  top: 0;
  background-color:#515A5A;
  color: white;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 55px;
  top: 0px;
}
header *{
  font-size: 12px;
  float: left;
  list-style: none;
  text-decoration: none;

}
header .logo{
  height: 100%;

}
header .frase{
  text-align: center;
}
header .redes{
  box-sizing: border-box;
  float: left;
  height: 100%;
  vertical-align: middle;
}
header .redes ul li{
  display: inline-block;
  padding: 5px;


}
header .redes ul li a{
  color: white;
  text-align: center;
  text-decoration: none;
}
*/
body{
  /*font-family: "Trebuchet MS", Helvetica, sans-serif;*/

  background: #bbbdff;
  margin: 0;
}
form{
  background: rgba(250, 255, 251, 0.767);
  margin: 10% auto;
  border:solid 1px black;
  border-radius: 10px;
  width: 40%;
  padding: 15px;
}

input{
  background:#F5F9FF;
  margin-top: 5px;
  border: 1px;
  border-radius: 5px;
  border-style: none;
  padding: 6px;
  transition: 0.3s;

}
input:hover{
  border-style: solid;
}
input:invalid {
  border-bottom: 1px solid red;
}
#datos input:valid {
  border-bottom: 1px solid green;
}
#datos input:focus{
  background-color: #E3EEFF;
}

fieldset{
  border-radius: 5px;
  border-color: #bbbdff;
  margin-top: 10px;
}
legend{
  background-image:linear-gradient(#C0D9FF,#bbbdff );
  padding: 3px;
  border-radius: 5px;
}
select{
  padding:5px;
  border-radius: 5px;
  background-color: #FFFFF0;
}
h1{
  font-size: 23px;
  text-align: center;
}
p{
  text-align: center;
}
#gustos p{
  font-size: 17px;
  font-weight: bold;
}
#terminos{
  font-style: italic;
  font-weight: bold;
}

input[type="submit"]{
  color: grey;
}
input[type="reset"]{
  color: grey;
  float: right;
}
